<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}UCSTGO{% endblock %}</title>

    
    <!--====================================
        FAVICON
    ====================================--> 
    <link rel="shortcut icon" href="{{ url_for('static', filename='admin/favicon/favicon.ico') }}" type="image/x-icon">
    

    <!--====================================
        GOOGLE FONTS (ROBOTO) & ICONS
    ====================================--> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">
    

    <!--====================================
        MAIN STYLES
    ====================================--> 

    <link rel="stylesheet" href="{{ url_for('static', filename='frontend/css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='frontend/css/style.css') }}">



    <!--====================================
        PAGE'S STYLES
    ====================================-->
    {% block styles %}

    {% endblock %}
</head>

<body class="antialiased flex flex-col min-h-screen font-sans">


    <!--=============================
        NAVIGATION BAR
    ==============================-->
    {% include 'frontend/layouts/header/navbar.html' %}


    <!--=============================
        NAVIGATION BAR MOBILE VIEW
    ==============================-->
    {% include 'frontend/layouts/header/navbar-mobile.html' %}


    <!--=============================
        MAIN CONTENT
    ==============================-->
    <main class="flex-grow ">
        {% block content %}{% endblock %}
    </main>


    <!--=============================
        FOOTER
    ==============================-->
    {% include 'frontend/layouts/footer/footer.html' %}


    <!--=============================
        MAIN SCRIPTS
    ==============================-->
    {% for script in assets.vendor.scripts %}
    <script src="{{ script }}"></script>
    {% endfor %}

    <script src="{{ url_for('static', filename='frontend/js/lib/three.min.js') }}"></script>
    <script src="{{ url_for('static', filename='frontend/js/main.js') }}"></script>

    <!--=============================
        PAGE'S SCRIPTS
    ==============================-->
    {% block scripts %}
        
    {% endblock %}
</body>
</html>
