flask
flask_mysqldb
dotenv
flask_sqlalchemy
flask_marshmallow
flask_migrate
marshmallow-sqlalchemy
python-dotenv
flask_cors
pymysql
PyJWT
flask-jwt-extended
gunicorn
psycopg2-binary
google-genai
chromadb