<!doctype html>
<html lang="en">

<head>
  <!--=====================================
    META & TITLE
  ======================================-->
  <title>{% block title %} {{ title }} {% endblock %}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="{{ description }}" />
  <meta name="keywords" content="{{ keywords }}" />
  <meta name="author" content="{{ author }}" />

  <!--=====================================
    FAVICON & BRAND
  ======================================-->
  <link rel="icon" href="{{ assets.favicon }}" type="image/x-icon" />

  <!--=====================================
    FONTS & ICONS
  ======================================-->
  {% for font in assets.vendor.fonts %}
  <link rel="stylesheet" href="{{ font }}" />
  {% endfor %}

  <!--=====================================
    THEME STYLES
  ======================================-->
  <link rel="stylesheet" href="{{ assets.theme.css }}">

  <!--=====================================
    MAIN STYLES & FONTS
  ======================================-->
  <link rel="stylesheet" href="{{ assets.main.css }}" id="main-style-link" />
  <link rel="stylesheet" href="{{ assets.main.fonts }}" id="main-font-link">

  <!--=====================================
    PAGE SEPCIFIC STYLE
  ======================================-->
  {% block style %}{% endblock %}

</head>

<body>



  <!--==========================================
    PRE-LOADER
  ===========================================-->
  {% include 'admin/layouts/others/loader.html' %}

  <!--==========================================
    MAIN-CONTENT BLOCK
  ===========================================-->

  {% block content %}

  {% endblock %}

  <!--==========================================
    MAIN SCRIPTS
  ===========================================-->
  {% for script in assets.main.scripts %}
  <script src="{{ script }}" defer></script>
  {% endfor %}

  <!--==========================================
    VENDOR SCRIPTS
  ===========================================-->
  {% for script in assets.vendor.scripts %}
  <script src="{{ script }}" defer></script>
  {% endfor %}

  <!--==========================================
    THEME SCRIPTS
  ===========================================-->
  {% for script in assets.theme.scripts %}
  <script src="{{ script }}"></script>
  {% endfor %}

  <!--==========================================
    PAGE SPECIFIC SCRIPTS
  ===========================================-->
  {% block script %}{% endblock %}

</body>

</html>