<nav class="hidden lg:flex items-center gap-2 xl:gap-6">

    <div class="relative group">
        <button class="text-textSecondary font-medium hover:text-royal transition flex items-center">
            <a href="{{ url_for('frontend.index') }}">Home <i class="fa-solid fa-chevron-down ml-1 text-xs"></i></a>
        </button>
        <div
            class="absolute top-full left-0 mt-4 w-48 bg-white border border-border rounded-xl shadow-xl opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-300 transform origin-top-left scale-95 group-hover:scale-100">
            <div class="py-2">
                <a href="{{ url_for('frontend.about') }}#history" class="block px-4 py-2 text-sm text-textSecondary hover:bg-background hover:text-royal">Background
                    History</a>
                <a href="{{ url_for('frontend.about') }}#vision"
                    class="block px-4 py-2 text-sm text-textSecondary hover:bg-background hover:text-royal">Mission & Vision</a>
                <a href="{{ url_for('frontend.about') }}#org-chart"
                    class="block px-4 py-2 text-sm text-textSecondary hover:bg-background hover:text-royal">Organization Chart</a>
            </div>
        </div>
    </div>

    <div class="relative group">
        <button class="text-textSecondary hover:text-royal transition flex items-center font-medium">
            Academic <i class="fa-solid fa-chevron-down ml-1 text-xs"></i>
        </button>
        <div
            class="absolute top-full left-0 mt-4 w-48 bg-white border border-border rounded-xl shadow-xl opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-300 transform origin-top-left scale-95 group-hover:scale-100">
            <div class="py-2">
                <a href="{{ url_for('frontend.academic') }}#req" class="block px-4 py-2 text-sm text-textSecondary hover:bg-background hover:text-royal">Admission Requirement</a>
                <a href="{{ url_for('frontend.academic') }}#degrees"
                    class="block px-4 py-2 text-sm text-textSecondary hover:bg-background hover:text-royal">Degree Programmes</a>
                <a href="{{ url_for('frontend.syllabusCourses') }}"
                    class="block px-4 py-2 text-sm text-textSecondary hover:bg-background hover:text-royal">Syllabus and Courses</a>
                <a href="/reg"
                    class="block px-4 py-2 text-sm text-textSecondary hover:bg-background hover:text-royal">Student Registration</a>
                <a href="http://lms.ucstaungoo.edu.mm/"
                    class="block px-4 py-2 text-sm text-textSecondary hover:bg-background hover:text-royal">Learning Management System</a>
                     
            </div>
        </div>
    </div>

    <div class="relative group">
        <button class="text-textSecondary hover:text-royal transition flex items-center font-medium">
            Faculties <i class="fa-solid fa-chevron-down ml-1 text-xs"></i>
        </button>
        <div
            class="absolute top-full left-0 mt-4 w-60 bg-white border border-border rounded-xl shadow-xl opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-300 transform origin-top-left scale-95 group-hover:scale-100">
            <div class="py-2">
                <a href="{{ url_for('frontend.department', dept_code='fcs') }}" 
                class="block px-4 py-2 text-sm text-textSecondary hover:bg-background hover:text-royal">Faculty Of Computer Science (FCS)</a>
                <a href="{{ url_for('frontend.department', dept_code='fcst') }}"
                    class="block px-4 py-2 text-sm text-textSecondary hover:bg-background hover:text-royal">Faculty Of Computer Systems (FCST)</a>
                <a href="{{ url_for('frontend.department', dept_code='fis') }}" 
                class="block px-4 py-2 text-sm text-textSecondary hover:bg-background hover:text-royal">Faculty Of Information Science(FIS)</a>
                <a href="{{ url_for('frontend.department', dept_code='itsm') }}"
                    class="block px-4 py-2 text-sm text-textSecondary hover:bg-background hover:text-royal">Department Of IT Supporting and Maintenance(ITSM)</a>
                <a href="{{ url_for('frontend.department', dept_code='fc') }}" 
                class="block px-4 py-2 text-sm text-textSecondary hover:bg-background hover:text-royal">Faculty Of Computing (FC)</a>
                <a href="{{ url_for('frontend.department', dept_code='dl') }}"
                    class="block px-4 py-2 text-sm text-textSecondary hover:bg-background hover:text-royal">Department Of Language</a>
                <a href="{{ url_for('frontend.department', dept_code='dns') }}" 
                class="block px-4 py-2 text-sm text-textSecondary hover:bg-background hover:text-royal">Department Of Natural Science</a>
                <a href="{{ url_for('frontend.department', dept_code='da') }}"
                    class="block px-4 py-2 text-sm text-textSecondary hover:bg-background hover:text-royal">Department Of Administration</a>
                <a href="{{ url_for('frontend.department', dept_code='df') }}" 
                class="block px-4 py-2 text-sm text-textSecondary hover:bg-background hover:text-royal">Department Of Finance</a>
                <a href="{{ url_for('frontend.department', dept_code='dsa') }}"
                    class="block px-4 py-2 text-sm text-textSecondary hover:bg-background hover:text-royal">Department Of Student Affairs</a>
                     
            </div>
        </div>
    </div>

    <a href="{{ url_for('frontend.activity') }}" class="text-textSecondary hover:text-royal transition">News & Activities</a>
    
    <div class="relative group">
        <button class="text-textSecondary hover:text-royal transition flex items-center font-medium">
            <a href="{{ url_for('frontend.index') }}">Research & Publications <i class="fa-solid fa-chevron-down ml-1 text-xs"></i></a>
        </button>
        <div
            class="absolute top-full left-0 mt-4 w-48 bg-white border border-border rounded-xl shadow-xl opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-300 transform origin-top-left scale-95 group-hover:scale-100">
            <div class="py-2">
                <a href="{{ url_for('frontend.research') }}" 
                class="block px-4 py-2 text-sm text-textSecondary hover:bg-background hover:text-royal">Research Labs</a>
                <a href="{{ url_for('frontend.publication') }}"
                    class="block px-4 py-2 text-sm text-textSecondary hover:bg-background hover:text-royal">Publications</a>
           </div>
        </div>
    </div>

    <a href="https://www.coursera.org/programs/university-of-computer-studies-taungoo-on-coursera-ncuas" class="text-textSecondary hover:text-royal transition">Online Learning</a>    
    <a href="{{ url_for('frontend.library') }}" class="text-textSecondary hover:text-royal transition">Library</a>

</nav>