<!-- 1. TOP ANNOUNCEMENT BAR -->
<div class="bg-royal text-white py-2 text-xs md:text-sm hidden md:block">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex justify-between items-center">
        <div class="flex items-center space-x-6">
            <span class="flex items-center"><i class="fa-solid fa-bullhorn text-sky mr-2"></i> Admissions for Fall 2026
                are now open!</span>
            <span class="flex items-center"><i class="fa-solid fa-phone text-sky mr-2"></i> +95 123 456 789</span>
            <span class="flex items-center"><i class="fa-solid fa-envelope text-sky mr-2"></i>ucstgostuaffair2024@gmail.com</span>
        </div>
        <div class="flex items-center space-x-4">
            <a href="#" class="hover:text-sky transition"><i class="fa-brands fa-google"></i></a>
            <a href="#" class="hover:text-sky transition"><i class="fa-brands fa-tiktok"></i></a>
            <a href="#" class="hover:text-sky transition"><i class="fa-brands fa-facebook"></i></a>
            <div class="border-l border-gray-600 h-4 mx-2"></div>
            <!-- <a href="#" class="hover:text-sky transition font-medium">Student Portal</a>
            <div class="border-l border-gray-600 h-4 mx-2"></div>
            <button class="flex items-center hover:text-sky transition">EN <i
                    class="fa-solid fa-chevron-down ml-1 text-[10px]"></i></button> -->
        </div>
    </div>
</div>