<div class="text-white py-2 text-xs md:text-sm hidden md:block"
    style="background: linear-gradient(135deg, #042f2e 0%, #0891b2 50%, #0f172a 100%) !important;">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex justify-between items-center">
        <div class="flex items-center space-x-6">
            <span class="flex items-center">
                <i class="fa-solid fa-bullhorn text-[#5eead4] mr-2"></i> ကျောင်းဖွင့်ရက် 1.6.2026
            </span>
            <span class="flex items-center">
                <i class="fa-solid fa-phone text-[#5eead4] mr-2"></i> 09-33606066
            </span>
            <span class="flex items-center">
                <i class="fa-solid fa-envelope text-[#5eead4] mr-2"></i> ucstgostuaffair@gmail.com
            </span>
        </div>
        <div class="flex items-center space-x-4">
            <a href="#" class="hover:text-[#5eead4] transition"><i class="fa-brands fa-google"></i></a>
            <a href="https://www.tiktok.com/@ucstaungoo?is_from_webapp=1&sender_device=pc" class="hover:text-[#5eead4] transition"><i class="fa-brands fa-tiktok"></i></a>
            <a href="#" class="hover:text-[#5eead4] transition"><i class="fa-brands fa-facebook"></i></a>

        </div>
    </div>
</div>