<ul class="pc-navbar">
    <li class="pc-item pc-caption">
        <label>Dashboard</label>
        <i class="ti ti-dashboard"></i>
    </li>
    <li class="pc-item">
        <a href="{{ url_for('admin.index') }}" class="pc-link">
            <span class="pc-micon">
                <i class="ti ti-dashboard"></i>
            </span>
            <span class="pc-mtext">Default</span>
        </a>
    </li>

    <li class="pc-item pc-caption">
        <label>Admin</label>
        <i class="ti ti-apps"></i>
    </li>
    <li class="pc-item">
        <a href="{{ url_for('admin.users') }}" class="pc-link">
            <span class="pc-micon"><i class="ti ti-users"></i></span>
            <span class="pc-mtext">Users</span>
        </a>
    </li>

    <li class="pc-item">
        <a class="pc-link" href="{{ url_for('admin.subject') }}">
            <span class="pc-micon"><i class="ti ti-book"></i></span>
            <span class="pc-mtext">Academic</span>
        </a>
    </li>

    <li class="pc-item">
        <a class="pc-link" href="{{ url_for('admin.courses') }}">
            <span class="pc-micon"><i class="ti ti-notebook"></i></span>
            <span class="pc-mtext">Courses</span>
        </a>
    </li>

    <li class="pc-item">
        <a class="pc-link" href="{{ url_for('admin.activity') }}">
            <span class="pc-micon"><i class="ti ti-calendar-event"></i></span>
            <span class="pc-mtext">Activities</span>
        </a>
    </li>

    <li class="pc-item">
        <a class="pc-link" href="{{ url_for('admin.research') }}">
            <span class="pc-micon"><i class="ti ti-file-search"></i></span>
            <span class="pc-mtext">Researchs</span>
        </a>
    </li>

    <li class="pc-item">
        <a class="pc-link" href="{{ url_for('admin.laboratory') }}">
            <span class="pc-micon"><i class="ti ti-file-search"></i></span>
            <span class="pc-mtext">Laboratories</span>
        </a>
    </li>

</ul>