<nav class="pc-sidebar">
  <div class="navbar-wrapper">
    <!--==========================================
      NAVBAR HEADER 
    ===========================================-->
    {% include 'admin/layouts/sidebar/header.html' %}

    <!--==========================================
      NAVBAR CONTENT
    ===========================================-->
    <div class="navbar-content">
      <!--==========================================
        NAVBAR CONTENT - LISTS
      ===========================================-->
      {% include 'admin/layouts/sidebar/content-list.html' %}

      <!--==========================================
        NAVBAR CONTENT - CARD
      ===========================================-->
      {% include 'admin/layouts/sidebar/content-card.html' %}

      <!--==========================================
        NAVBAR CONTENT - FOOTER
      ===========================================-->
      {% include 'admin/layouts/sidebar/content-footer.html' %}
    </div>
  </div>
</nav>